/******* COLORI *******/
:root {
  --main-bg-color: #ffffff;
  --second-main-bg-color: #0000000a;
  --primary-color: #1d781d;
  --primary-color-button: #005500;
  --header-border-color: #dee1e6;
}

/******* SETTINGS GLOBALI *******/
* {
  border: 0;
  margin: 0;
}
body {
  font-family: "Lexend", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  margin: 3rem 1rem 1rem;
  justify-content: center;
  align-items: center;
}

/******* HEADER *******/
.main-header {
  height: 4rem;
  position: sticky;
  display: flex;
  background-color: var(--main-bg-color);
  top: 0;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--header-border-color);
  z-index: 1000;
}
.main-header h1 {
  left: 4rem;
  margin-left: 0;
  position: absolute;
}
.main-header img {
  position: absolute;
  left: 1rem;
  width: 3rem;
}
.Top-NavBar a {
  height: 2rem;
  text-decoration: none;
  color: black;
  border-radius: 1rem;
  transition:
    color 0.2s,
    background-color 0.3s,
    padding 0.3s;
}
.Top-NavBar a:hover {
  padding: 0.5rem;
  border: var(--primary-color-button) solid 2px;
  background-color: var(--primary-color-button);
  border-radius: 1rem;
  color: var(--main-bg-color);
}
.Top-NavBar a:hover a:visited {
  color: inherit;
}

.Top-NavBar ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 2rem;
}
#current-page {
  padding: 0.5rem;
  border: var(--primary-color-button) solid 2px;
  background-color: var(--primary-color-button);
  border-radius: 1rem;
  color: var(--main-bg-color);
}
#current-page:hover {
  cursor: default;
}

/******* HOME *******/

.main-hero-section {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 2rem;
  gap: 4rem;
}
.main-hero-section img {
  border-radius: 2rem;
  align-self: center;
  width: 40%;
}

#left-hero-section-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 100%;
}
#left-hero-section-div h1 {
  font-size: 2rem;
  text-align: center;
}
#left-hero-section-div p {
  margin-top: 2rem;
  font-size: 1rem;
  text-align: center;
}
#left-hero-section-div form {
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
#left-hero-section-div form div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#left-hero-section-div input {
  font-size: 1rem;
  width: 35rem;
  border-radius: 1rem;
  border: black solid 1px;
  padding-left: 1rem;
  box-sizing: border-box;
}

.submit-btn {
  width: 7rem;
  height: 3rem;
  color: var(--main-bg-color);
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: var(--primary-color-button);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
}

.outline-btn {
  border: var(--primary-color) solid 2px;
  background-color: var(--main-bg-color);
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--primary-color-button);
  border-radius: 1rem;
  cursor: pointer;
}

#open-farm-btn {
  border: rgba(0, 0, 0, 0.055) solid 1px;
  font-weight: 600;
  font-size: 0.9rem;
  color: black;
  border-radius: 1rem;
  height: 3rem;
  cursor: pointer;
}
#home section:not(.main-hero-section) {
  margin-top: 3rem;
}
section h2 {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.8rem;
}

.grid {
  margin-top: 4rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid div {
  display: flex;
  height: 12rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem 0.5rem;
  border-radius: 1rem;
  width: 20rem;
  background-color: var(--second-main-bg-color);
}
#team-grid div h3,
.grid div h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0.4rem 0 1rem 0;
}

i {
  margin: 1rem;
  color: var(--primary-color);
}

/******* ABOUT US *******/
.about-hero {
  padding: 2rem;
  gap: 2rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about-hero h1 {
  font-size: 3rem;
  text-align: center;
}
.about-hero p {
  text-align: center;
}

.about-hero img {
  width: 65%;
  border-radius: 1rem;
}
.about-section {
  margin-top: 0rem;
}
.about-section h1,
.about-section h2 {
  margin-top: 3rem;
  text-align: center;
}

#team-grid {
  margin-top: 4rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#about-grid div {
  display: flex;
  height: 12rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 20rem;
  background-color: var(--second-main-bg-color);
}
#team-section {
  margin-top: 5rem;
}

.avatar-container {
  border-radius: 12px;
  width: 180px;
  height: 220px;
  padding: 1.5rem;
  text-align: center;
  border: var(--primary-color-button) solid 1px;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease,
    border-color 0.2s ease,
    color 0.5s ease;
  box-shadow: 0px 9px 5px var(--accent);
}
.avatar-container span {
  font-size: 1.3rem;
  color: black;
  transition: color 0.2s;
}

.avatar-container:hover {
  transform: translateY(2px);
  overflow: hidden;
  background-color: var(--primary-color-button);
  color: var(--main-bg-color);
  border-color: var(--accent);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.25),
    0 4px 8px rgba(0, 0, 0, 0.2);
}
.avatar-container:hover span {
  color: var(--main-bg-color);
}
.avatar-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contact-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 30%;
  padding: 1rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: var(--second-main-bg-color);
}
.contact-form form {
  display: flex;
  flex-direction: column;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.title-form {
  font-size: 1.8rem;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 1rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="submit"] {
  background-color: var(--primary-color-button);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
}
.contact-info {
  box-sizing: border-box;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.contact-info ul {
  list-style: none;
}

/******* FARMXCITY *******/
#farmxcity-hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#farmxcity-hero-section-div {
  width: 60%;
  border-radius: 1rem;
  margin-top: 2rem;
}
#farmxcity-hero-section-div form {
  align-items: end;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 1rem;
}
.farmxcity-filter {
  margin: 0;
  width: 25%;
  height: 3rem;
  box-sizing: border-box;
}

#farmxcity-hero-section-div input {
  font-size: 1rem;
  height: 3rem;
  width: 100%;
  border-radius: 1rem;
  border: black solid 1px;
  padding-left: 1rem;
  box-sizing: border-box;
}

#farmxcity-hero-section-div form button {
  width: 15rem;
  height: 3rem;
  color: var(--main-bg-color);
  border-radius: 1rem;
  box-sizing: border-box;
  background-color: var(--primary-color-button);
  font-size: 1rem;
}

.search-div {
  width: 100%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.grid-farm-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 10rem;
  gap: 2rem;
}
.farm-card {
  border: 2px solid var(--second-main-bg-color);
  width: 20rem;
  height: auto;
  border-radius: 1rem;
}

.farm-card h3 {
  font-size: 1.5rem;
}
.farm-card div {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.farm-card img {
  object-fit: contain;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
.farm-card button {
  background-color: white;
  border: 1px solid var(--primary-color-button);
  border-radius: 1rem;
  width: 7rem;
  font-size: 0.9rem;
  height: 3rem;
  margin-left: 12rem;
  margin-bottom: 1rem;
  transition:
    background-color 0.2s,
    color 0.5s;
  cursor: pointer;
}
.farm-card button:hover {
  background-color: var(--primary-color-button);
  color: white;
}
.farm-orario {
  text-align: right;
}
/******* FOOTER *******/
footer {
  margin-top: 5rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  border-top: 2px solid var(--header-border-color);
}
footer img {
  width: 3rem;
}
