.top-navbar a {
  height: 2rem;
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: border 0.2s, color 0.2s, background-color 0.3s;
}
.top-navbar a:hover {
  border: var(--primary-color) solid 2px;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--main-bg-color);
}
.top-navbar a:hover a:visited {
  color: inherit;
}
.top-navbar ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: #fff;
  z-index: 1000;
  align-items: start;
}
.top-navbar .current-page {
  pointer-events: none;
  padding: 0.5rem;
  border: var(--primary-color) solid 2px;
  background-color: var(--primary-color);
  border-radius: 1rem;
  color: var(--main-bg-color);
}
/* BREADCRUMB */
#breadcrumb {
  display: block;
  padding: 0.8em 1em;
  font-size: 1em;
  text-align: left;
  background-color: var(--second-bg-color);
}
#breadcrumb a {
  color: var(--primary-color);
  text-decoration: underline;
}

h1.hide {
  background-image: url("../logo_h1.png");
  margin-left: 1rem;
  margin-top: 2rem;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}
.top-navbar ul.open {
  display: flex;
  gap: 1rem;
  align-items: start;
}

.top-navbar li {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.menu-toggle-text {
  display: inline;
  font-size: 1em;
  border: none;
  cursor: pointer;
  margin: 0;
  width: auto;
}
.menu-toggle{
    display: none;
}

/*Tabella Area Admin */
.data-table thead,tfoot{
  display: none;
}
.data-table tr,th,td{
  display: block;
  padding: 0;
  white-space: normal;
}
.data-table  td[data-title]:before {
  content: attr(data-title) ":\00A0";
  font-weight: bold;
}
.data-table tbody th[data-title]:before{
  font-weight: bold;
}
.data-table th,td{
  border-top: none;
}
.data-table tbody th{
  background-color: var(--primary-color);
  color: white;
}
.data-table tr{
  border: 0.5px solid #000;
}

.btn-delete {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
  margin-bottom: 0em;
}
.data-table button{
  border-radius: 0.5rem;
  width: 6.5rem;
  font-size: 0.9rem;
  height: 2.5rem;
  margin-top: 0rem;
  transition:
    background-color 0.2s,
    color 0.5s,
    border 0.2s;
  cursor: pointer;
  font-family: inherit;

}